<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redfinger.manager.common.mapper.MyRfUserPadMapper">
  <resultMap id="BaseResultMap" type="com.redfinger.manager.modules.stat.base.StatDomain">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="number" jdbcType="INTEGER" property="number" />
		
	</resultMap>

	
	<select id="selectAll" parameterType="map" resultMap="BaseResultMap">
		SELECT t1.user_id as id ,SUM(num) as number  FROM 
		(
		SELECT user_id  ,"count"(1)* #{vip,jdbcType=INTEGER} as num from rf_user_pad  where pad_grade ='1' GROUP BY user_id  
		UNION all 
	 	SELECT user_id ,"count"(1)* #{common,jdbcType=INTEGER} as num from rf_user_pad  where pad_grade ='0' GROUP BY user_id
	 	UNION all 
	 	SELECT user_id ,"count"(1)* #{svip,jdbcType=INTEGER} as num from rf_user_pad  where pad_grade ='3' GROUP BY user_id
	 	)
	 	t1 
 		GROUP BY t1.user_id 
	</select>
	
</mapper>