<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redfinger.manager.common.mapper.StatRealtimeDataMapper">
	<resultMap id="BaseResultMap" type="com.redfinger.manager.modules.stat.base.StatDomain">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="amount" jdbcType="DOUBLE" property="amount" />
		<result column="label" jdbcType="VARCHAR" property="label" />
	</resultMap>
	<resultMap id="RealTimeMap" type="com.redfinger.manager.modules.stat.base.StatRealTimeDomain">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="online" jdbcType="INTEGER" property="online" />
		<result column="offline" jdbcType="INTEGER" property="offline" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>


	<select id="statRealtimeData" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
		<![CDATA[
		SELECT t.id FROM(
		SELECT	x.game_id as id,y.status,y.enable_status
		FROM
			rf_gmonitor_realtime_data x
		LEFT JOIN rf_game_monitor_cfg y ON x.game_id = y.cfg_id
		WHERE 
		(
			x.game_status = 'online'
		OR x.game_status = 'offline'
		AND x.game_id = y.cfg_id)
		 ]]> 
		<if test="where!=null">
		<![CDATA[
		AND x.modify_time  <= to_date('${where}','YYYY-MM-DD HH24:MI:SS')
			]]> 
			</if>
		<![CDATA[
		) t	
		WHERE t.status='1'
		AND t.enable_status='1'	 ]]> 
		<if test="id!=null">
				AND t.id=${id}
		</if>
		<![CDATA[
	    GROUP BY  id
		 ]]> 
		
	
	</select>
	
	
	<select id="statRealtimeDataOnline" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
		<![CDATA[
		SELECT
			count(1) as number
		FROM
			rf_gmonitor_realtime_data x
		
		WHERE 
			x.game_status = 'online'
		
		 ]]> 
		<if test="where!=null">
				and ${where}
		</if>
	
	</select>
	
		
	<select id="statRealtimeDataOffline" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
		<![CDATA[
		SELECT
			count(1) as number
		FROM
			rf_gmonitor_realtime_data x
		
		WHERE 
			x.game_status = 'offline'
		
		 ]]> 
		<if test="where!=null">
				and ${where}
		</if>
	
	</select>
	
	<select id="statRealTimeDataDomain" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="RealTimeMap">
		<![CDATA[
		SELECT
			y.game_name AS name,
			x.game_id AS id,
			COALESCE (x.online, 0) AS online,
			COALESCE (x.offline, 0) AS offline
		FROM
		(
			SELECT
				T .game_id ,
				SUM (
					CASE
					WHEN T .game_status = 'online' THEN
						1
					ELSE
						0
					END
				) AS online,
				SUM (
					CASE
					WHEN T .game_status = 'offline' THEN
						1
					ELSE
						0
					END
				) AS offline
			FROM
				rf_gmonitor_realtime_data T
			WHERE
				t.game_id IS NOT NULL
		 ]]> 
		
        <if test="where!=null">
        <![CDATA[
				AND T .modify_time <=  to_date('${where}','YYYY-MM-DD HH24:MI:SS')
				 ]]>
		</if>
		<![CDATA[
	    GROUP BY
			t.game_id
		)x
			
		LEFT JOIN  
		rf_game_monitor_cfg y
		ON y.cfg_id =x.game_id
		 ]]>
		 <if test="id!=null">
				WHERE y.cfg_id=${id}
		</if>
		 <![CDATA[
		ORDER BY
				x.online DESC Nulls Last
		 ]]> 
		
	</select>

</mapper>