<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redfinger.manager.common.mapper.StatRfUserTaskMapper">
	<resultMap id="BaseResultMap" type="com.redfinger.manager.modules.stat.base.StatDomain">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="amount" jdbcType="DOUBLE" property="amount" />
		<result column="label" jdbcType="VARCHAR" property="label" />
	</resultMap>


	<!-- 完成任务查询 -->
	<select id="statTaskOk2CreateTime" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
			<![CDATA[
			SELECT count(1) as number , create_time as label
			from rf_user_task
			where 
			create_time is not null
			and create_time >= to_date('${begin}','yyyy-MM-DD') 
			and create_time < (to_date('${end}','yyyy-MM-DD')+ integer '1') 
		]]> 
			<if test="where!=null">
			and ${where}
			</if>
		<![CDATA[
			group by label
			order by number asc
		]]>
	</select>
	
		<!-- 任务赠送红豆查询 -->
	<select id="statTaskRbcSend" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
		<![CDATA[
			SELECT task_id as number,create_time as label
			from rf_user_task
			where create_time >= to_date('${begin}','yyyy-MM-DD') 
			and create_time < (to_date('${end}','yyyy-MM-DD')+ integer '1') 
		]]> 
	</select>
</mapper>