<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redfinger.manager.common.mapper.StatBleedUserMapper">
	<resultMap id="BaseResultMap" type="com.redfinger.manager.modules.stat.base.StatDomain">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="amount" jdbcType="DOUBLE" property="amount" />
		<result column="label" jdbcType="VARCHAR" property="label" />
	</resultMap>
	
	<select id="statBleedUser" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
		<![CDATA[
		 SELECT count(DISTINCT user_id) as number from rf_user where login_time<to_date('${begin}','yyyy-MM-DD')
		]]>
	</select> 
	
	<select id="countAll" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
		<![CDATA[
		
		select count(DISTINCT user_id) as number from rf_user where login_time<=to_date('${end}','yyyy-MM-DD')
		]]> 			
		
	</select>
	
	
	
</mapper>