<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redfinger.manager.common.mapper.StatMemberMapper">
	<resultMap id="BaseResultMap" type="com.redfinger.manager.modules.stat.base.StatDomain">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="amount" jdbcType="DOUBLE" property="amount" />
		<result column="label" jdbcType="VARCHAR" property="label" />
	</resultMap>
	
	<!-- IP归属地 -->
	<select id="statIp" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
	<!--SQL语句  -->
		<![CDATA[
       select label as label,count(1) as number from (select u.register_ip,${formart} as label from rf_user u left JOIN res_ip r on u.register_ip =r.ip) t 
		]]> 
		<!--查询条件  -->
			<if test="where!=null">
			</if>
		<!--  排序-->
		<![CDATA[
	group by label
			order by number asc
		]]>
	</select>
		<!-- 手机号码所属运营商 -->
	<select id="statMenberCarriers" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
	<!--SQL语句  -->
		<![CDATA[
       select label as label,count(1) as number from (select u.register_ip,${formart} as label from rf_user u left JOIN res_ip r on u.register_ip =r.ip) t 
		]]> 
		<!--查询条件  -->
			<if test="where!=null">
			</if>
		<!--  排序-->
		<![CDATA[
	group by label
			order by label asc
		]]>
	</select>
	
	
	<select id="statMemberAge" resultMap="BaseResultMap">
		<![CDATA[
			select to_char(date_trunc('year',age(now(),user_birth)),'YYY') as label,count(1) as number 
			from rf_user 
			where status='1' 
			GROUP BY label
		]]> 
	</select>
	
	<select id="statMemberSex" resultMap="BaseResultMap">
		<![CDATA[
			select user_gender as label,count(1) as number 
			from rf_user 
			where status='1' 
			GROUP BY label
		]]> 
	</select>
	
	<!-- 获取用户的create_time-->
	<select id="statMemberCreatime" parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
		<![CDATA[
		SELECT create_time as label
			from rf_user
			where create_time >= to_date('${begin}','yyyy-MM-DD') 
			and create_time < (to_date('${end}','yyyy-MM-DD')+ integer '1')
		]]> 
	</select>
	
	<select id="statMemberMobileCarriers" resultMap="BaseResultMap">
		<![CDATA[
		  select label as label,count(1) as number from(select u.user_mobile_phone,r.isp as label from rf_user u left JOIN res_phone  r on substr(u.user_mobile_phone,1,7) =r.phone and status='1' )t group by label
		]]> 
	</select>
</mapper>