<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redfinger.manager.common.mapper.StatClientOperateMapper">

	<resultMap id="BaseResultMap"
		type="com.redfinger.manager.modules.stat.base.StatDomain">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="amount" jdbcType="DOUBLE" property="amount" />
		<result column="label" jdbcType="VARCHAR" property="label" />
	</resultMap>

	<select id="statUserLoginTo24" parameterType="com.redfinger.manager.modules.stat.base.StatDomain"
		resultMap="BaseResultMap">
		<![CDATA[
		SELECT to_char(t1.logout_time, 'HH24') AS label,COUNT (1) AS number 
		FROM(
			SELECT T .logout_time FROM sys_login_log T WHERE T .logout_time >= to_date('${begin}','yyyy-MM-DD') 
			AND T .logout_time < (to_date('${end}','yyyy-MM-DD')+ integer '1')) t1
		
		]]> 
		<![CDATA[
			GROUP BY label 
			ORDER BY label
		]]>
	</select>

	<select id="statUIButton" parameterType="com.redfinger.manager.modules.stat.base.StatDomain"
		resultMap="BaseResultMap">
		<![CDATA[
		SELECT create_time as label, clicks as number 
		FROM log_user_button 
		WHERE user_status ='0'
			AND create_time >= to_date('${begin}','yyyy-MM-DD') 
			AND create_time < (to_date('${end}','yyyy-MM-DD')+ integer '1')
			
		]]> 
		<if test="where != null">
		AND button_number =  '${where}'
		</if>
		<![CDATA[
			ORDER BY label
		]]>
	</select>

	<select id="statNewUserUIButton" parameterType="com.redfinger.manager.modules.stat.base.StatDomain"
		resultMap="BaseResultMap">
		<![CDATA[
		SELECT button_number as label , count(1) as number  
		FROM log_user_button 
		WHERE user_status ='1'
		AND create_time >= to_date('${begin}','yyyy-MM-DD') 
		AND create_time < (to_date('${end}','yyyy-MM-DD')+ integer '1') 
		]]>
		<if test="where != null">
		AND tap_order = cast('${where}' as int)
		</if>
		<![CDATA[
			GROUP BY label 
			ORDER BY label
		]]>

	</select>

	
	<select id="statBtButton" parameterType="com.redfinger.manager.modules.stat.base.StatDomain"
		resultMap="BaseResultMap">
		
		<![CDATA[
		SELECT button_number AS label,SUM(clicks) AS number
		FROM log_user_button
		WHERE user_status ='0' 
		AND create_time >= to_date('${begin}', 'yyyy-MM-DD')
		AND create_time < (to_date('${end}', 'yyyy-MM-DD') + INTEGER '1')
		]]> 

		<![CDATA[
		GROUP BY label
		]]>
	</select>
</mapper>