<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redfinger.manager.common.mapper.StatBrowseGameMapper">
	<resultMap id="BaseResultMap" type="com.redfinger.manager.modules.stat.base.StatDomain">
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="amount" jdbcType="DOUBLE" property="amount" />
		<result column="label" jdbcType="VARCHAR" property="label" />
	</resultMap>
	
	<select id="statGame"  parameterType="com.redfinger.manager.modules.stat.base.StatDomain" resultMap="BaseResultMap">
		<![CDATA[
			SELECT count(1) AS number,apk_name AS label
				FROM app_log_browse
				where create_time >= to_date('${begin}','yyyy-MM-dd')
				and create_time < (to_date('${end}','yyyy-MM-dd')+integer '1')
		]]>	 
		<![CDATA[
			group by label
			order by number desc
		]]>
	</select>
	
	
</mapper>
	
	
	
	
	
	