<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
">

	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${jms.brokerURL}" />
	</bean>

	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="connectionFactory" ref="targetConnectionFactory" />
		<property name="maxConnections" value="10" />
	</bean>

	<bean id="connectionFactory"
		class="org.springframework.jms.connection.SingleConnectionFactory">
		<property name="targetConnectionFactory" ref="pooledConnectionFactory" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>
	
	

	<bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>command-batch</value>
		</constructor-arg>
	</bean>
	
	<bean id="destinationPadCode" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>command-padCode</value>
		</constructor-arg>
	</bean>
	
    <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">  
    	<!-- 设置消息队列的名字   -->
    	<constructor-arg index="0" value="device-manage"/> 
    </bean>
    <bean id="scriptQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">  
    	<!-- 设置消息队列的名字   -->
    	<constructor-arg index="0" value="script-upload"/> 
    </bean>
    <bean id="fingerQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">  
    	<!-- 设置消息队列的名字   -->
    	<constructor-arg index="0" value="finger"/> 
    </bean>
    <bean id="pushNoticeQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">  
    	<!-- 设置消息队列的名字   -->
    	<constructor-arg index="0" value="push-notice"/> 
    </bean>
    <bean id="tkBatchTaskQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">  
    	<!-- 设置消息队列的名字   -->
    	<constructor-arg index="0" value="batch-analys"/> 
    </bean>
    <bean id="weixinQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">  
    	<!-- 设置消息队列的名字   -->
    	<constructor-arg index="0" value="weixin-remind"/> 
    </bean>
	<bean id="MessageProducer" class="com.redfinger.manager.common.jsm.MessageProducer">
         <property name="destination" ref="queueDestination"/>
         <property name="jmsTemplate" ref="jmsTemplate"/>  
    </bean>
    <bean id="ScriptProducer" class="com.redfinger.manager.common.jsm.ScriptProducer">
         <property name="destination" ref="scriptQueueDestination"/>
         <property name="jmsTemplate" ref="jmsTemplate"/>  
    </bean>
    <bean id="fingerProducer" class="com.redfinger.manager.common.jsm.FingerProducer">
         <property name="destination" ref="fingerQueueDestination"/>
         <property name="jmsTemplate" ref="jmsTemplate"/>  
    </bean>
    <bean id="pushNoticeProducer" class="com.redfinger.manager.common.jsm.PushNoticeProducer">
         <property name="destination" ref="pushNoticeQueueDestination"/>
         <property name="jmsTemplate" ref="jmsTemplate"/>  
    </bean>
    <bean id="tkBatchTaskProducer" class="com.redfinger.manager.common.jsm.TkBatchTaskProducer">
         <property name="destination" ref="tkBatchTaskQueueDestination"/>
         <property name="jmsTemplate" ref="jmsTemplate"/>  
    </bean>
    <bean id="weixinProducer" class="com.redfinger.manager.common.jsm.WeixinProducer">
         <property name="destination" ref="weixinQueueDestination"/>
         <property name="jmsTemplate" ref="jmsTemplate"/>  
    </bean>
    
    <!-- 信息采集jms -->
	<bean id="gatherDestination" class="org.apache.activemq.command.ActiveMQQueue">  
    	<!-- 设置消息队列的名字   -->
    	<constructor-arg index="0" value="device-manage"/> 
    </bean>
	<bean id="gatherProducer" class="com.redfinger.manager.common.jsm.GatherProducer">
         <property name="destination" ref="gatherDestination"/>
         <property name="jmsTemplate" ref="jmsTemplate"/>  
    </bean>
    
    <!-- 异步导出jms -->
	<bean id="exportDestination" class="org.apache.activemq.command.ActiveMQQueue">  
    	<!-- 设置消息队列的名字   -->
    	<constructor-arg index="0" value="export-task"/>
    </bean>
	<bean id="exportProducer" class="com.redfinger.manager.common.jsm.ExportProducer">
         <property name="destination" ref="exportDestination"/>
         <property name="jmsTemplate" ref="jmsTemplate"/>  
    </bean>
    
</beans>