@CHARSET "UTF-8";
/***导航***/
.easyui-layout-north {
	height: 80px;
	background: url("../images/topbglight.gif") no-repeat top right #4e6a81;
}

.logo {
	width: 156px;
	height: 33px;
	position: absolute;
	top: 8px;
	left: 15px;
}

.logo_bottom {
	position: absolute;
	bottom: 10px;
	left: 30px;
	width: 99px;
	height: 53px;
	background: url('../images/logo_buttom.png');
}

.systemName {
	position: absolute;
	top: 9px;
	left: 180px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	font-family: "microsoft yahei";
}

.nav-top {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 325px;
	height: 22px;
	background: url("../images/nav-top.png") no-repeat top left;
	color: #fff;
	line-height: 22px;
	text-align: right;
	padding-right: 20px;
}

.nav-top a {
	color: #fff;
	text-decoration: none;
}

.nav-top .span {
	margin: 0px 1px;
	vertical-align: top;
}

.nav-notice{
	position: absolute;
	top: 35px;
	right:30px;
	height: 32px;
	width: 400px;
}
.nav-notice-img{
	width: 30px;height: 18px; float: right;
	position: relative;
}
.nav-notice-text{
	position: absolute;width: 20px;height: 20px;top: -10px;right: 0px;font-size: 14px;font-weight: normal;color: white;
}
.nav {
	height: 26px;
	position: absolute;
	bottom: 5px;
	left: 0px;
	right: 50px;
	overflow: hidden;
}
.nav_scroll{
	margin-left: 0px;
}
.nav_arrow {
	height: 26px;
	width:35px;
	position: absolute;
	bottom: 5px;
	right: 0px;
}
.nav_arrow_left{
	width: 11px;
	height: 18px;
	background: url("../images/arrow.png") no-repeat 0px -57px;
	float: left;
	margin-top: 5px;
	cursor: pointer;
}
.nav_arrow_left:HOVER{
	background: url("../images/arrow.png") no-repeat 0px -19px;
}
.nav_arrow_right{
	width: 11px;
	height: 18px;
	background: url("../images/arrow.png") no-repeat 0px -38px;
	float: left;
	margin-top: 5px;
	cursor: pointer;
	margin-left: 5px;
}
.nav_arrow_right:HOVER{
	background: url("../images/arrow.png") no-repeat 0px 0px;
}

.nav_button {
	float: left;
	margin: 0px 5px;
	height: 26px;
	cursor: pointer;
}

.nav_button_active {
	cursor: default;
}

.nav_button_over {
	cursor: pointer;
}

.nav_button .nav_button_left {
	height: 26px;
	width: 15px;
	background: url("../images/nav.png") no-repeat 0px 0px;
	display: block;
	float: left;
}

.nav_button_active .nav_button_left {
	background: url("../images/nav.png") no-repeat 0px -26px;
}

.nav_button_over .nav_button_left {
	background: url("../images/nav.png") no-repeat 0px -52px;
}

.nav_button .nav_button_center {
	height: 26px;
	background: url("../images/nav.png") no-repeat center 0px;
	display: block;
	float: left;
	line-height: 26px;
	color: white;
	letter-spacing: 2px;
}

.nav_button_active .nav_button_center {
	background: url("../images/nav.png") no-repeat center -26px;
	color: black;
}

.nav_button_over .nav_button_center {
	background: url("../images/nav.png") no-repeat center -52px;
	color: white;
}

.nav_button .nav_button_right {
	width: 15px;
	height: 26px;
	display: block;
	float: left;
	background: url("../images/nav.png") no-repeat right 0px;
}

.nav_button_active .nav_button_right {
	background: url("../images/nav.png") no-repeat right -26px;
}

.nav_button_over .nav_button_right {
	background: url("../images/nav.png") no-repeat right -52px;
}

/****菜单****/
.menu1 {
	width: 160px;
	height: auto;
	background: #fff;
	padding: 5px;
}

.menu1 .easyui-linkbutton {
	text-align: left;
	padding-left: 15px;
}

#easyui-layout .header {
	width: 165px;
	height: auto;
	padding: 10px;
}

.panel-body{
	overflow: hidden;
}