@CHARSET "UTF-8";

/**列表页**/
#module_container {
	position: absolute;
	left: 0px;
	bottom: 0px;
	top: 0px;
	right: 0px;
}

#module_search {
	
}

#module_search_form{
	float: right;
	margin-right: 20px;
	margin-bottom: 0px;
	padding: 0px;
	display: block;
	margin-left: 20px;
}

#module_search .module_search_input{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	height: 30px;
}
#module_search .module_search_button{
	margin-top: 7px;
	margin-left: 20px;
	float: left;
	height: 33px;
	min-width: 112px;
}

#module_search .module_search_input .input_width_short{
	width: 80px;
}
#module_search .module_search_input .input_width_default{
	width: 120px;
}
#module_search .module_search_input .input_width_long{
	width: 160px;
}
#module_search .module_search_input .input_width_long2{
	width: 200px;
}
#module_search .module_search_input .input_width_long3{
	width: 240px;
}

#module_toolbar{
	height: 26px;
}


/**对话框**/

#module_submit_container{
	padding: 20px;
}

#module_submit_form .td1{
	min-width:100px;
	width:100px;
	border-bottom: 1px solid #ccc;
	text-align: right;
	padding: 10px;
	font-size: 12px;
}
#module_submit_form .td2{
	border-bottom: 1px solid #ccc;
	padding: 10px;
	font-size: 12px;
}
#module_submit_form #module_submit_table{
	width: 100%;
	border-collapse:collapse;
}
#module_submit_form .easyui-textbox{
	height: 24px;
	width: 280px;
}
#module_submit_form .easyui-combotree{
	height: 24px;
	width: 280px;
}
#module_submit_form .easyui-combobox{
	height: 24px;
	width: 280px;
}
#module_submit_form .easyui-datebox{
	height: 24px;
	width: 280px;
}
#module_submit_form .easyui-numberbox{
	height: 24px;
	width: 280px;
}
#module_submit_form .easyui-combogrid{
	height: 24px;
	width: 280px;
}



#floatData{
	width: 300px;
	padding: 5px;
	margin-right:0px;
	line-height: 24px;
}
